mat-form-field {
  width: 100%;
}

form {
  margin: 0 1rem 0 1rem;
}

mat-card-title {
  text-align: center;
  margin-bottom: 1rem;
}

.submit-btn {
  float: right;
}

%shared-width {
  width: 48%;
}

.left-field {
  @extend %shared-width;
  margin: 0 2% 0 0;
}

.right-field {
  @extend %shared-width;
  margin: 0 0 0 2%;
}
