<app-main-nav>
  <!--  <main class="container">-->
<!--  <main class="container">-->

    <main class="container, content-div" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
      <div fxFlex="1280px" fxFlex.md="100%">
        <router-outlet></router-outlet>
      </div>
    </main>
<!--    <footer fxLayout="column" style="background-color: green">-->
<!--      <p>FOOTER</p>-->
<!--      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">-->
<!--        <div fxFlex="20%">-->
<!--          <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">-->
<!--        </div>-->
<!--        <div fxFlex="20%">-->
<!--          <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg">-->
<!--        </div>-->
<!--        <div fxFlex="20%">-->
<!--          <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/R926LU1YEA.jpg">-->
<!--        </div>-->
<!--        <div fxFlex="20%">-->
<!--          <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/U9PP3KXXY2.jpg">-->
<!--        </div>-->
<!--      </div>-->
<!--    </footer>-->
<!--  </main>-->
</app-main-nav>
