<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               [ngClass]="{hidden: !(isHandset$ | async)}"
               fixedInViewport="false"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!--  DRAWER XS  -->
      <a mat-list-item routerLink="/books" routerLinkActive="mat-accent"
         (click)="drawer.toggle()">Books</a>
      <!--  LOGIN/LOGOUT  -->
      <a mat-list-item routerLink="/auth/login" routerLinkActive="mat-accent" *ngIf="!isAuth"
         (click)="drawer.toggle()">Login</a>
      <a mat-list-item *ngIf="isAuth"
         (click)="drawer.toggle(); onLogout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="home-header" routerLink="/">Bookstore</span>
      <span class="spacer"></span>
      <!--  MAIN NAV BAR  -->
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/books" routerLinkActive="mat-accent">Books</a>
        <a mat-button routerLink="/posts" routerLinkActive="mat-accent">Posts</a>
        <a mat-button routerLink="/form" routerLinkActive="mat-accent" *ngIf="isAuth">New Post</a>
        <!--<a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>-->
        <!--<button mat-button [matMenuTriggerFor]="books">Books</button>-->
        <!--<mat-menu #books="matMenu">-->
        <!--<button mat-menu-item>Item 1</button>-->
        <!--</mat-menu>-->
      </div>
      <!--  SHOPPING CART  -->
      <a mat-icon-button
         routerLink="/cart"
         routerLinkActive="mat-accent"
         [matBadge]="totalInCart"
         matBadgePosition="after"
         matBadgeColor="accent"
         *ngIf="isAuth">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <!--  LOGIN/LOGOUT  -->
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent" *ngIf="!isAuth">Log In</a>
        <button mat-button (click)="onLogout()" *ngIf="isAuth">Log Out</button>
      </div>
    </mat-toolbar>
    <!--  CONTENT  -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
