/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~css-star-rating/scss/star-rating';

$primary-color: #673ab7;

html, body {
  height: 100%;
}

body {
  margin: 0;
}

mat-spinner {
  margin: auto;
}

.font-size-medium {
  font-size: medium;
}

.font-size-large {
  font-size: large;
}

.style-link {
  cursor: pointer;
  outline: none;

  :hover {
    color: $primary-color;
  }
}

.style-grab {
  //border: 1px solid black;
  cursor: grab;
  outline: none;
}

.style-grabbing {
  //border: 1px solid red;
  cursor: grabbing;
  outline: none;
}

.rating {
  outline: none;
}

