$main-font-family: Roboto, "Helvetica Neue", sans-serif;
$primary-color: #673ab7;
$accent-color: #ffd740;

drag-scroll {
  //box-shadow: inset 6px 0 6px -4px $primary-color, inset -6px 0 6px -4px $primary-color;
  border-left: 2px solid $primary-color;
  border-right: 2px solid $primary-color;
  height: 286px;
  width: 100%;
}

.carousel-div {
  height: 286px;
  width: calc(100% - 4px);
  position: relative;
}

.scroll-left, .scroll-right {
  z-index: 10;
  position: absolute;
  width: 40px;
  height: 286px;
  bottom: 0;

  .scroll-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.scroll-right {
  right: 0;
}

.title {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  color: $primary-color;
  font-family: $main-font-family;
  font-size: 18px;
  font-weight: 500;
}

// NOT USED STYLES
//.scrolling-wrapper {
//  overflow-x: scroll;
//  overflow-y: hidden;
//  white-space: nowrap;
//
//  .card {
//    display: inline-block;
//  }
//}
//
//.scrolling-wrapper-flexbox {
//  display: flex;
//  flex-wrap: nowrap;
//  overflow-x: scroll;
//
//  .card {
//    flex: 0 0 auto;
//    margin-right: 3px;
//  }
//}
//
//.scrolling-wrapper, .scrolling-wrapper-flexbox {
//  height: 450px;
//  //margin-bottom: 20px;
//  width: 100%;
//  overflow-scrolling: auto;
//  -webkit-overflow-scrolling: auto;
//  &::-webkit-scrollbar {
//    display: none;
//  }
//}
