<div>
  <h2 class="title">{{carouselTitle}}</h2>
</div>
<mat-spinner *ngIf="books?.length == 0"></mat-spinner>
<div class="carousel-div"
     *ngIf="books?.length > 0">
  <drag-scroll #nav>
    <app-carousel-item drag-scroll-item *ngFor="let book of books" [book]="book"></app-carousel-item>
    <div drag-scroll-item></div>
  </drag-scroll>
  <div class="scroll-left">
    <button mat-icon-button class="scroll-btn" color="accent" (click)="moveLeft()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="scroll-right">
    <button mat-icon-button class="scroll-btn" color="accent" (click)="moveRight()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>

<!--<div class="container"-->
<!--     fxLayout="row">-->
<!--  <div *ngFor="let book of books">-->
<!--    <app-carousel-item [book]="book"></app-carousel-item>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="scrolling-wrapper">-->
<!--  <div class="card" *ngFor="let book of books">-->
<!--    <app-carousel-item [book]="book"></app-carousel-item>-->
<!--  </div>-->
<!--</div>-->

<!--<div #carouselBox class="scrolling-wrapper-flexbox">-->
<!--  <div class="card" *ngFor="let book of books">-->
<!--    <app-carousel-item [book]="book"></app-carousel-item>-->
<!--  </div>-->
<!--</div>-->
<!--<div fxLayout="row">-->
<!--  <button (click)="scrollLeft()">LEFT</button>-->
<!--  <button (click)="scrollRight()">RIGHT</button>-->
<!--</div>-->
<!--<drag-scroll>-->
<!--  <img drag-scroll-item src="some-url" />-->
<!--  <img drag-scroll-item src="some-url" />-->
<!--  <img drag-scroll-item src="some-url" />-->
<!--</drag-scroll>-->
