<div>
  <h2 class="title">{{carouselTitle}}</h2>
</div>
<drag-scroll #nav>
  <app-carousel-item drag-scroll-item *ngFor="let book of books" [book]="book"></app-carousel-item>
  <div drag-scroll-item></div>
</drag-scroll>
<div fxLayout="row">
  <button (click)="moveLeft()">Left</button>
  <button (click)="moveRight()">Right</button>
  <button (click)="moveTo(2)">Last</button>
</div>


<!--<div class="container"-->
<!--     fxLayout="row">-->
<!--  <div *ngFor="let book of books">-->
<!--    <app-carousel-item [book]="book"></app-carousel-item>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="scrolling-wrapper">-->
<!--  <div class="card" *ngFor="let book of books">-->
<!--    <app-carousel-item [book]="book"></app-carousel-item>-->
<!--  </div>-->
<!--</div>-->

<!--<div #carouselBox class="scrolling-wrapper-flexbox">-->
<!--  <div class="card" *ngFor="let book of books">-->
<!--    <app-carousel-item [book]="book"></app-carousel-item>-->
<!--  </div>-->
<!--</div>-->
<!--<div fxLayout="row">-->
<!--  <button (click)="scrollLeft()">LEFT</button>-->
<!--  <button (click)="scrollRight()">RIGHT</button>-->
<!--</div>-->
<!--<drag-scroll>-->
<!--  <img drag-scroll-item src="some-url" />-->
<!--  <img drag-scroll-item src="some-url" />-->
<!--  <img drag-scroll-item src="some-url" />-->
<!--</drag-scroll>-->
