.filter-div {
  /*width: 260px;*/
}

.btn-subcategory {
  margin-left: 1rem;
}

.category-div {
  padding: 0;
}

.category-toggle-group {
  width: 100%;
  border: none;
}

/*:host {*/
/*  background-color: #fafafa;*/
/*}*/
