<div class="container"
     fxLayout="row"
     fxLayout.lt-md="column"
     fxLayoutGap="0.5%">
  <!--  FILTERING  -->
  <app-book-filter (filterChanged)="onFilteringChanged($event)"></app-book-filter>
  <div fxLayout="column"
       fxFlex="1 1 auto"
       fxLayoutGap="0.5%">
    <!--  SORTING  -->
    <app-book-sorter (sortingChanged)="onSortingChanged($event)"></app-book-sorter>
    <!--  ITEMS  -->
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <p class="info-text" *ngIf="books.length <= 0 && !isLoading">No results.</p>
    <mat-grid-list [cols]="columnNum"
                   rowHeight="500px"
                   gutterSize="10px"
                   fxFlex="1 1 auto"
                   *ngIf="books.length > 0 && !isLoading">
      <mat-grid-tile *ngFor="let book of books">
        <app-book-item [book]="book" [isAuth]="isAuth"></app-book-item>
      </mat-grid-tile>
    </mat-grid-list>
    <!--  PAGINATOR  -->
    <mat-paginator
      [length]="totalBooks"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onChangedPage($event)"
      *ngIf="books.length > 0">
    </mat-paginator>
  </div>
</div>
