<div class="ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]="false"
     [matRippleDisabled]="false"
     [matRippleUnbounded]="false">
  <mat-card class="card-div">
    <!-- IMAGE -->
    <div class="img-container" [routerLink]="['/book/', book.id]">
      <img appImageLoader
           class="book-img style-link"
           width="222" height="341"
           [src]="book.images[0]?.path"
           [alt]="book.images[0]?.name">
      <star-rating class="book-rating" fxLayoutAlign="center"
                   [starType]="'svg'" [rating]="5" readOnly="true">
      </star-rating>
    </div>
    <!-- WRITER -->
    <mat-card-subtitle fxLayoutAlign="center">
      {{ book.writer }}
    </mat-card-subtitle>
    <!-- TITLE -->
    <mat-card-title class="style-link font-size-medium"
                    [routerLink]="['/book/', book.id]"
                    fxLayoutAlign="center">
      <span class="style-title">{{ book.title }}</span>
    </mat-card-title>
    <hr>
    <!-- PRICE -->
    <mat-card-title class="font-size-medium"
                    fxLayoutAlign="center center">
      {{ book.price | currency:'EUR':'symbol' }}
    </mat-card-title>
    <!-- ADD TO CART -->
    <mat-card-actions class="action-div"
                      fxLayoutAlign="center">
      <button mat-button
              color="primary"
              (click)="addToCart()">
        <mat-icon>add_shopping_cart</mat-icon>
        Add to Cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
