.card-div {
  width: 190px;
  height: 455px;
}

.ripple-container {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.action-div {
  padding: 0;
}

.style-title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.book-rating {
  z-index: 3;
  display: none !important;
  position: absolute;
  bottom: 20px;
  left: 56px;
}

.ripple-container:hover .book-rating {
  display: block !important;
  opacity: 1;
}

.ripple-container:hover .book-img {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.ripple-container:hover .img-container {
  background-color: #673ab7;
  z-index: 2;
}

.book-img, .img-container {
  border-radius: 4px 4px 0 0;
}

.img-container {
  margin-bottom: 16px;
  width: 222px;
  height: 341px;
  margin-top: -16px;
  margin-left: -16px;
  position: relative;
}
