.content-div {
  padding: 1rem 2rem;
}

.details-div {
  padding: 1rem 1rem 0 1rem;
}

.price-div {
}

.book-img {
  border-radius: 4px;
}

.book-img-div {
  min-width: 230px;
  min-height: 361px;
}

.book-rating {
  width: 110px;
  height: 29px;
  margin-bottom: 8px;
}
