<mat-card>
  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayoutGap="10px">
    <!--  LEFT DIV - IMAGE, DETAILS  -->
    <div fxLayoutAlign.xs="center">
      <!--  IMAGE  -->
      <img
        class="book-img"
        routerLink="/book"
        width="230" height="361"
        [src]="book.imagePath"
        [alt]="book.title">
      <!--  DETAILS  -->
      <mat-card-content class="details-div">
        <p><b>Number of Pages: </b>{{ book.numOfPages }}</p>
        <p><b>Language: </b>{{ book.language }}</p>
        <p><b>ISBN: </b>{{ book.isbn }}</p>
        <p><b>Release Year: </b>{{ book.releaseYear }}</p>
        <p><b>Weight: </b>{{ book.weight }} kg</p>
      </mat-card-content>
    </div>
    <!--  RIGHT DIV - HEADER, ACTION BAR, ABOUT  -->
    <div fxLayout="column">
      <!--  HEADER  -->
      <div class="content-div">
        <mat-card-title>{{ book.title }}</mat-card-title>
        <mat-card-subtitle>
          <span class="accent-color">Author:</span>
          {{ book.author }}
        </mat-card-subtitle>
      </div>
      <!--  ACTION BAR  -->
      <mat-card fxLayout="row" class="price-div">
        <!--  PRICE  -->
        <div fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center start">
          <mat-card-subtitle>
            In Stock: {{ book.inStock }}
          </mat-card-subtitle>
          <mat-card-title>
            Price: {{ book.price | currency:'EUR':'symbol' }}
          </mat-card-title>
        </div>
        <!--  ACTIONS  -->
        <div fxFlex="1 1 auto" fxLayoutAlign="end center" fxFlexOffset="10px">
          <button mat-stroked-button
                  color="primary">
            <mat-icon>add_shopping_cart</mat-icon>
            Add to Cart
          </button>
        </div>
      </mat-card>
      <!--  ABOUT  -->
      <mat-card-content class="content-div">
        <b>About: </b>{{ book.about }}
      </mat-card-content>
    </div>
  </div>
</mat-card>
